* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #eee; }

section {
  z-index: 1;
  width: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 10px; }
  section p {
    line-height: 1.5em; }
  section a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white; }

#hours {
  background: yellow;
  -webkit-transform: translate(-90%, -70%);
  -moz-transform: translate(-90%, -70%);
  -ms-transform: translate(-90%, -70%);
  -o-transform: translate(-90%, -70%);
  transform: translate(-90%, -70%); }

#location {
  color: white;
  background: blue;
  -webkit-transform: translate(20%, -60%);
  -moz-transform: translate(20%, -60%);
  -ms-transform: translate(20%, -60%);
  -o-transform: translate(20%, -60%);
  transform: translate(20%, -60%); }

#contact {
  color: white;
  background: red;
  -webkit-transform: translate(-50%, 20%);
  -moz-transform: translate(-50%, 20%);
  -ms-transform: translate(-50%, 20%);
  -o-transform: translate(-50%, 20%);
  transform: translate(-50%, 20%); }

img {
  -webkit-filter: grayscale(1); }

@media (max-width: 767px) {
  section {
    position: static;
    top: auto;
    left: auto;
    margin: 0 auto; }

  #hours, #location, #contact {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
